.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/* ---------------------------------- */
/* Essential Styles */
.slider {
  display: flex;
}

.slide {
  width: 100%;
  margin-right: -100%;
  position: relative;
  z-index: 1;
}

.slide:first-child {
  z-index: 2;
}

.slide:focus,
.slide:focus-within {
  z-index: 10;
}

/* ---------------------------------- */
/* Animation-based styles */
.slide {
  transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1), z-index 0.7s linear;
  -webkit-transform: translateX(-50%) scale(0.8);
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
}

.slider:not(:focus-within) .slide:first-child,
.slide:focus,
.slide:focus-within {
  -webkit-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 10;
}

.slider:not(:focus-within) .slide:first-child~.slide,
.slide:focus~.slide,
.slide:focus-within~.slide {
  -webkit-transform: translateX(50%) scale(0.8);
  transform: translateX(50%) scale(0.8);
}

/* ---------------------------------- */
/* Stylistic Choices */
.slide {
  height: 60vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  background: hsl(calc(360deg * (var(--i) / var(--total))), 60%, 60%);
}

.slider {
  position: relative;
  overflow: hidden;
}

.slide-nav {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 12;
}

.slide-nav a {
  display: inline-block;
  width: 2em;
  height: 2em;
  background: #FFF;
  border-radius: 50%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 1rem;
  border: solid 2px transparent;
}

#slide-1:focus~.slide-nav [href="#slide-1"],
#slide-1:focus-within~.slide-nav [href="#slide-1"] {
  border-color: black;
}

#slide-2:focus~.slide-nav [href="#slide-2"],
#slide-2:focus-within~.slide-nav [href="#slide-2"] {
  border-color: black;
}

/*#slide-3:focus ~ .slide-nav [href="#slide-3"],
#slide-3:focus-within ~ .slide-nav [href="#slide-3"] {
  border-color: black;
}

#slide-4:focus ~ .slide-nav [href="#slide-4"],
#slide-4:focus-within ~ .slide-nav [href="#slide-4"] {
  border-color: black;
}

#slide-5:focus ~ .slide-nav [href="#slide-5"],
#slide-5:focus-within ~ .slide-nav [href="#slide-5"] {
  border-color: black;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
